<fieldset>
  <legend>Add or Edit Reading List</legend>
  <div class="bookEditor col-md-10 col-md-offset-1">
      <div class="form-group">
        <label for="" class="col-lg-2">Book Name</label>
        <div class="col-lg-10"><input type="text" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label for="" class="col-lg-2">Book Authors</label>
      <div class="col-lg-10"><input type="text" class="form-control" name="bookAuthors" id=""></div>
    </div>
    <div class="actions">
      <button class="btn btn-primary">Save List</button>
      <button class="btn btn-blue blue btn-primary">Add Book</button>
      <button class="btn btn-danger">Cancel</button>
    </div>
  </div>
</fieldset>
