<div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
	<fieldset>
	  <legend>Register</legend>
	  <div class="form-group">
	    <label for="inputUsername" class="col-lg-2 control-label">Username <span class="red">*</span></label>
	    <div class="col-lg-10">
	      <input type="text" class="form-control" id="inputUsername" placeholder="Username">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="inputEmail" class="col-lg-2 control-label">Email <span class="red">*</span></label>
	    <div class="col-lg-10">
	      <input type="text" class="form-control" id="inputEmail" placeholder="Email">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="inputPassword" class="col-lg-2 control-label">Password<span class="red">*</span></label>
	    <div class="col-lg-10">
	      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="repeatPassword" class="col-lg-2 control-label"> Repeat Password <span class="red">*</span></label>
	    <div class="col-lg-10">
	      <input type="repeatPassword" class="form-control" id="repeatPassword" placeholder="Repeat Password">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="inputPhone" class="col-lg-2 control-label">Phone</label>
	    <div class="col-lg-10">
	      <input type="password" class="form-control" id="inputPhone" placeholder="+359 887 522 111">
	       </div>
	  </div>	  
	  <button class="btn btn-default" ng-click="reset()">Reset</button>
	  <button class="btn btn-submit" ng-click="reigster()">Register</button>
	</fieldset>
</div>