<header class="top-bar">
	<div class="title"></div>
	<div class="description"></div>
	<nav>
		<a href="#/"><button class="btn-default btn">Home</button></a>
		<a href="#/register"><button class="btn-default btn">Register</button></a>
		<a href="#/login"><button class="btn-default btn">Login</button></a>
		<a href="#/admin/add-book"><button class="btn-danger btn">Admin Add Book</button></a>
		<a href="#/admin/add-genre"><button class="btn-danger btn">AdminAddGenre</button></a>
		<a href="#/user/add-list"><button class="btn-primary btn">UserAddList</button></a>
		<a href="#/user/view-lists"><button class="btn-primary btn">UserViewLists</button></a>
	</nav>
</header>